@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fira Sans', system-ui, sans-serif;
  background-color: transparent;
  min-height: 100vh;
}

nav {
  @apply flex flex-wrap justify-center;
}

nav a {
  @apply text-center;
}

/* Дополнительные стили для неонового эффекта */
nav a:hover {
  transition: all 0.3s ease-in-out;
}

html, body, #root {
  overflow: visible !important;
  transform: none !important;
}

#root {
  position: relative;
}

canvas {
  background-color: transparent !important;
  display: block !important;
}